In [2]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib

tsunami_data = pd.read_csv('tsunami_data.csv')


# X = tsunami_data.drop()

tsunami_data.describe()

,Year,Mo,Dy,Hr,Mn,Sec,Tsunami Event Validity,Tsunami Cause Code,Earthquake Magnitude,Vol,...,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description,Total Houses Damaged,Total Houses Damaged Description
count,461.000000,459.000000,458.000000,411.000000,408.000000,386.000000,461.000000,461.000000,381.000000,17.000000,...,6.000000,7.000000,131.000000,141.000000,71.000000,218.000000,6.900000e+01,99.000000,51.000000,77.000000
mean,2002.175705,6.529412,15.401747,11.299270,29.259804,27.573316,3.518438,2.086768,7.089764,4918.705882,...,142.500000,1.571429,7897.916031,2.248227,7982.704324,2.174312,9.477084e+04,2.747475,34942.764706,2.558442
std,11.488441,3.451584,8.431222,6.966153,16.925219,17.468808,1.108361,2.502403,0.686889,1960.869952,...,261.983778,0.975900,42907.569113,1.147395,30374.194097,1.232016,6.447014e+05,1.198157,88192.283145,1.219291
min,1980.000000,1.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,3.700000,447.000000,...,1.000000,1.000000,1.000000,1.000000,0.005000,1.000000,1.000000e+00,1.000000,2.000000,1.000000
25%,1993.000000,4.000000,9.000000,5.000000,15.000000,12.000000,4.000000,1.000000,6.700000,4542.000000,...,9.250000,1.000000,15.000000,1.000000,3.162500,1.000000,5.000000e+01,1.000000,135.500000,1.000000
50%,2004.000000,7.000000,16.000000,12.000000,29.000000,26.600000,4.000000,1.000000,7.100000,4808.000000,...,20.000000,1.000000,100.000000,2.000000,170.400000,2.000000,7.970000e+02,3.000000,900.000000,3.000000
75%,2012.000000,10.000000,22.000000,18.000000,44.000000,42.075000,4.000000,1.000000,7.600000,6864.000000,...,111.000000,2.000000,511.000000,3.000000,1500.000000,3.750000,5.192000e+03,4.000000,15415.000000,4.000000
max,2020.000000,12.000000,31.000000,23.000000,59.000000,59.800000,4.000000,9.000000,9.100000,7504.000000,...,667.000000,3.000000,374171.000000,4.000000,220085.456000,4.000000,5.360000e+06,4.000000,500000.000000,4.000000