In [4]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib

tsunami_data = pd.read_csv('tsunami_data.csv')

tsunami_data

,Search Parameters,Year,Mo,Dy,Hr,Mn,Sec,Tsunami Event Validity,Tsunami Cause Code,Earthquake Magnitude,...,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description,Total Houses Damaged,Total Houses Damaged Description
0,"[""1980 <= Year >= 2020""]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1980.0,1.0,1.0,16.0,42.0,42.1,4.0,1.0,6.9,...,NaN,NaN,600.0,3.0,5.0,2.0,NaN,NaN,NaN,NaN
2,NaN,1980.0,2.0,23.0,5.0,51.0,3.2,4.0,1.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1980.0,5.0,18.0,NaN,NaN,NaN,0.0,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1980.0,6.0,29.0,7.0,20.0,5.5,4.0,1.0,6.2,...,NaN,NaN,7.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,NaN,2020.0,5.0,2.0,12.0,51.0,6.0,4.0,1.0,6.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
458,NaN,2020.0,5.0,29.0,5.0,30.0,NaN,0.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
459,NaN,2020.0,6.0,18.0,12.0,49.0,53.0,4.0,1.0,7.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460,NaN,2020.0,6.0,23.0,15.0,29.0,5.0,4.0,1.0,7.4,...,NaN,NaN,NaN,1.0,NaN,4.0,NaN,NaN,8123.0,4.0
461,NaN,2020.0,7.0,22.0,6.0,12.0,44.0,4.0,1.0,7.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN